header, footer{
background-color:darkblue;
color:linen;
min-height: 10vh;
}
header{
    margin-bottom: 2vh;
}
footer{
    margin-top:2vh;
}

#buttonList{
    margin-bottom: 2vh;
}
 #newButtonForm{
     margin-bottom: 2vh;
 }

 .gifCard {
     border: 2px solid black;
     width:20vw;
     min-width:17vw;
     padding:1rem;
 }

 .gifAnimate {
    width:90%;
 }